body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #8b4caf; /* Cambia este color según tu preferencia */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

#users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.user {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.user-info h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.user-info p {
    font-size: 0.9em;
    color: #666;
    text-align: left;
}

.contact-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-link {
    margin-left: 5px;
    color: #4CAF50;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}