body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    
}

/* Estilos para el header */
header {
    background-color: #8b4caf; /* Cambia este color según tu preferencia */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* Asegura que el ancho sea igual al ancho de la ventana */
    margin: 0; /* Elimina cualquier margen */
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%; /* Asegura que el ancho sea igual al ancho de la ventana */
    bottom: 0; /* Fija el footer en la parte inferior de la ventana */
    margin: 0; /* Elimina cualquier margen */
}
h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

#users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 90%; /* Ajusta el ancho de las tarjetas */
    max-width: 800px; /* Establece un ancho máximo */
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para mejor visibilidad */
}

.user img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.user-info p {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 10px 0;
}

.contact-link {
    color: #4CAF50;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.social-icon {
    font-size: 24px;
    margin-top: 10px;
    color: #4CAF50;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}